	.overlay-content {
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: white;
      width: 850px;
    }

    .merry-christmas {
      font-size: 48px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .title-box {
      background: rgba(255, 255, 255, 0.8);
      padding: 20px 20px;
      margin-bottom: 10px;
      border-radius: 10px;
      height: 70px;
      font-size: 30px;
      color: black;
      font-weight: bold;
    }

    .time-box {
      background: rgba(255, 255, 255, 0.8);
      padding: 20px 20px;
      margin-bottom: 10px;
      border-radius: 10px;
      height: 70px;
      font-size: 30px;
      color: black;
      font-weight: bold;
    }

    .content-box {
    background: rgba(255, 255, 255, 0.8); /* 배경색 */
    padding: 20px; /* 내부 여백 */
    border-radius: 10px; /* 모서리 둥글게 */
    min-height: 600px; /* 최소 높이 */
    position: relative; /* 위치 설정 */
    white-space: pre-line; /* 줄바꿈과 공백 유지 */
    text-align: left; /* 텍스트 좌측 정렬 */
    /* font-size: 22px; 폰트 크기 */
    line-height: 1.8; /* 줄 간격 */
    word-wrap: break-word; /* 박스를 넘는 텍스트 줄바꿈 */
    overflow-wrap: break-word; /* 긴 단어 줄바꿈 */
    color: black;
    font-weight: bold;
}


    .button-box {
      position: absolute;
      top: 107%; /* 버튼 위치를 조정 가능 */
      left: 50%;
      transform: translate(-50%, -50%);
      margin-top: 20px;
    }

    .event-button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 20px;
      background-color: #ff0000b3;
      color: white;
      text-decoration: none;
      border-radius: 10px;
      font-size: 35px;
      font-weight: bold;
      transition: background-color 0.3s;
      height: 120px;
      width: 500px;
      text-align: center;
    }

    .event-button:hover {
      background-color: #ff6347;
    }
