<th:block th:fragment="navbar">
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-light navbar-light">
                <a href="/admin/" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>ADMIN</h3>
                </a>

                <div class="navbar-nav w-100">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>映画</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/admin/movie/create" class="dropdown-item">映画登録</a>
                            <a href="/admin/movie/list" class="dropdown-item">映画リスト</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>クーポン</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/admin/coupon/create" class="dropdown-item">クーポン登録</a>
                            <a href="/admin/coupon/list" class="dropdown-item">クーポンリスト</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>イベント</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/admin/event/create" class="dropdown-item">イベント登録</a>
                            <a href="/admin/event/list" class="dropdown-item">イベントリスト</a>
                        </div>
                    </div>
                    <a href="/admin/users" class="nav-item nav-link"><i class="fa fa-th me-2"></i>会員管理</a>
                    <a href="/admin/qna" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>お問い合わせ</a>
                    <a href="/admin/payment" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>決済</a>
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->

<!-- Content Start -->
<div class="content">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">

        <div class="navbar-nav align-items-center ms-auto">
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" style="position: relative;">
                    <i class="fa fa-envelope me-lg-2" style="position: relative;">
                    <span id="inquiryCountBadge" class="badge bg-danger position-absolute translate-middle"
                          style="top: 5px; right: -30px; font-size: 13px; padding: 8px 6px; border-radius: 50%; width: 30px; height: 30px; display: inline-block; text-align: center;">
                        [[${inquiriesNotAnswerCount}]]
                    </span>
                    </i>
                    <span class="d-none d-lg-inline-flex">Message</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                    <th:block th:each="inquiries : ${inquiriesNotAnswerList}">
                        <a href="#" class="dropdown-item">
                            <div class="d-flex align-items-center">
                                <div class="ms-2">
                                    <h6 class="fw-normal mb-0">答えなかったお問い合わせがあります。</h6>
                                </div>
                            </div>
                        </a>
                        <hr class="dropdown-divider">
                    </th:block>
                    <a href="/admin/qna" class="dropdown-item text-center">全てのお問い合わせ見る</a>
                </div>
            </div>
        </div>
    </nav>
</th:block>