<div th:fragment="content">
  <div class="content-box">
    <h2 class="mb-4">個人情報修正</h2>
    <form th:action="@{/mypage/update_user}" method="post">
      <!-- 사용자 ID -->
      <div class="mb-3">
        <label for="userId" class="form-label">ユーザーID</label>
        <input type="text" id="userId" class="form-control" th:value="${user.id}" />
      </div>

      <!-- 이름 -->
      <div class="mb-3">
        <label for="name" class="form-label">名前</label>
        <input type="text" id="name" name="name" class="form-control" th:value="${user.name}" required />
      </div>

      <!-- メール -->
      <div class="mb-3">
        <label for="email" class="form-label">メール</label>
        <input type="email" id="email" name="email" class="form-control" th:value="${user.email}" required />
      </div>

      <!-- 電話番号 -->
      <div class="mb-3">
        <label for="phone" class="form-label">電話番号</label>
        <input type="text" id="phone" name="phone" class="form-control" th:value="${user.phone}" />
      </div>

      <!-- 생년월일 -->
      <div class="mb-3">
        <label for="birth" class="form-label">生年月日</label>
        <input type="date" id="birth" name="birth" class="form-control" th:value="${user.birth}" />
      </div>

      <button type="submit" class="btn btn-primary">保存</button>
    </form>
  </div>
</div>


</div>