<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.movie.mapper.BookingMapper">

    <!-- 예매 등록 -->
    <insert id="insertBookingWithCoupon" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO bookings (user_id, schedule_id, coupon_id, price)
        VALUES (#{userId}, #{scheduleId}, #{couponId}, #{price})
    </insert>

    <!-- 예매 등록 -->
    <insert id="insertBooking" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO bookings (user_id, schedule_id, price)
        VALUES (#{userId}, #{scheduleId}, #{price})
    </insert>

    <select id="getTodaySale" resultType="long">
        SELECT IFNULL(SUM(price), 0) as sum
        FROM bookings
        WHERE cancel_timestamp IS NULL AND DATE(booking_timestamp) = CURDATE()
    </select>

    <select id="getTotalSale" resultType="long">
        SELECT SUM(price) as sum
        FROM bookings
        WHERE cancel_timestamp IS NULL
    </select>

</mapper>