<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.movie.mapper.MovieMapper">
    <!-- SQL 문 -->
    <insert id="insertMovie" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        movies (title, running_time, release_date, end_date, genre, poster_img)
        VALUES (#{title}, #{runningTime}, #{releaseDate}, #{endDate}, #{genre}, #{posterImg})
    </insert>

    <update id="updateMovie">
        UPDATE
        movies
        SET
        title = #{title},
        running_time = #{runningTime},
        release_date = #{releaseDate},
        end_date = #{endDate},
        genre = #{genre},
        poster_img = #{posterImg}
        WHERE
        id = #{id}
    </update>

    <select id="upcomingMovie" resultType="com.movie.domain.Movies">
        <![CDATA[
    SELECT
        id,
        CASE
            WHEN CHAR_LENGTH(title) > 17 THEN CONCAT(SUBSTRING(title, 1, 18), '...')
            ELSE title
        END AS title,
        poster_img AS posterImg
    FROM
        movies
    WHERE
        release_date <= CURRENT_DATE
        AND end_date >= CURRENT_DATE
    ORDER BY
        release_date DESC
    LIMIT 8
    ]]>
    </select>
    <select id="upcomingSoonMovies" resultType="com.movie.domain.Movies">
        <![CDATA[
    SELECT
        id,
        CASE
            WHEN CHAR_LENGTH(title) > 17 THEN CONCAT(SUBSTRING(title, 1, 17), '...')
            ELSE title
        END AS title,
        poster_img AS posterImg
    FROM
        movies
    WHERE
        release_date > CURRENT_DATE
    ORDER BY
        release_date ASC
    LIMIT 8
    ]]>
    </select>
    <select id="recentlyEndedMovies" resultType="com.movie.domain.Movies">
        <![CDATA[
    SELECT
        id,
        CASE
            WHEN CHAR_LENGTH(title) > 17 THEN CONCAT(SUBSTRING(title, 1, 18), '...')
            ELSE title
        END AS title,
        poster_img AS posterImg
    FROM
        movies
    WHERE
        end_date < CURRENT_DATE
    ORDER BY
        end_date DESC
    LIMIT 8
    ]]>
    </select>
<!--    <select id="releasedMovie" resultType="com.movie.domain.Movies">-->
<!--        SELECT-->
<!--            *-->
<!--        FROM-->
<!--            movies-->
<!--        WHERE-->
<!--            release_date <![CDATA[<=]]> NOW() AND end_date <![CDATA[>=]]> NOW()-->
<!--    </select>-->
<!--    <select id="bestMovies" resultType="com.movie.domain.Movies">-->
<!--        SELECT-->
<!--            *-->
<!--        FROM-->
<!--            movies-->
<!--        WHERE-->
<!--            end_date <![CDATA[<]]> NOW()-->
<!--    </select>-->
</mapper>