<section th:fragment="content" style="text-align: center;">

	<!-- prs video top Start -->
	<div class="prs_booking_main_div_section_wrapper" style="text-align: center;">
		<div class="prs_top_video_section_wrapper">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="st_video_slider_inner_wrapper float_left" style="text-align: center;">
							<div class="st_video_slider_overlay"></div>
							<div class="st_video_slide_sec float_left" style="text-align: center;">
								<a rel='external' href='https://www.youtube.com/embed/ryzOXAO0Ss0' title='title' class="test-popup-link">
									<img src="images/index_III/icon.png" alt="img" style="margin: 0 auto;">
								</a>
								<h3>Aquaman</h3>
								<p>ENGLISH, HINDI, TAMIL</p>
								<h4>ACTION | Adventure | Fantasy</h4>
								<h5><span>2d</span> <span>3d</span> <span>D 4DX</span> <span>Imax 3D</span></h5>
							</div>
							<div class="st_video_slide_social float_left" style="text-align: center;">
								<div class="st_slider_rating_btn_heart st_slider_rating_btn_heart_5th">
									<h5><i class="fa fa-heart"></i> 85%</h5>
									<h4>52,291 votes</h4>
								</div>
								<div class="st_video_slide_social_left float_left">
									<ul style="display: inline-block; list-style: none; padding: 0;">
										<li style="display: inline;"><a href="#"><i class="fa fa-facebook-f"></i></a></li>
										<li style="display: inline;"><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li style="display: inline;"><a href="#"><i class="fa fa-linkedin"></i></a></li>
										<li style="display: inline;"><a href="#"><i class="fa fa-youtube"></i></a></li>
									</ul>
								</div>
								<div class="st_video_slide_social_right float_left">
									<ul style="display: inline-block; list-style: none; padding: 0;">
										<li data-animation="animated fadeInUp" class="" style="display: inline-block; margin-right: 10px;"><i class="far fa-calendar-alt"></i> 14 Dec, 2018</li>
										<li data-animation="animated fadeInUp" class="" style="display: inline-block;"><i class="far fa-clock"></i> 2 hrs 23 mins</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- prs video top End -->

	<!-- st slider rating wrapper Start -->
	<div class="st_slider_rating_main_wrapper float_left" style="display: flex; justify-content: center; align-items: center; text-align: center;">
		<div class="container">
			<div style="display: flex; justify-content: center; align-items: center;">
				<ul class="nav nav-tabs" style="padding: 0; margin: 0; list-style: none; text-align: center; display: flex; flex-direction: row; border-bottom: none;">
					<li class="active" style="margin: 0 10px;">
						<a data-toggle="tab" href="#home" style="padding: 20px; width: auto; height: auto; display: inline-block; text-decoration: none; font-weight: bold;">현재상영중</a>
					</li>
					<li class="nav-item" style="margin: 0 10px;">
						<a data-toggle="tab" href="#menu1" style="padding: 20px; width: auto; height: auto; display: inline-block; text-decoration: none; font-weight: bold;">개봉 예정</a>
					</li>
					<li style="margin: 0 10px;">
						<a data-toggle="tab" href="#menu2" style="padding: 20px; width: auto; height: auto; display: inline-block; text-decoration: none; font-weight: bold;">지난영화</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- st slider rating wrapper End -->

	<!-- st slider sidebar wrapper Start -->
	<div class="st_slider_index_sidebar_main_wrapper st_slider_index_sidebar_main_wrapper_booking float_left" style="text-align: center;">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12" style="margin: 0 auto; width:1170px;">
					<div class="st_indx_slider_main_container float_left">
						<div class="row">
							<div class="col-md-12">
								<div class="tab-content" style="text-align: center;">

									<!-- 현재상영중 -->
									<div id="home" class="tab-pane active">
										<div class="st_calender_contant_main_wrapper float_left">
											<div class="st_calender_row_cont float_left" style="text-align: center;">
												<div class="st_calender_asc">
													<div class="st_calen_asc_heart">
													</div>
													<div class="st_calen_asc_heart_cont">
														<ul style="list-style: none; padding: 0;">
															<li>
																<img src="/content/event/image2.jpg" style="margin: 0 auto;">
															</li>
														</ul>
													</div>
													<h4>Ariesplex SL Cinemas</h4>
												</div>
												<div class="st_calen_asc_tecket_time_select">
													<ul style="list-style: none; padding: 0;">
														<li>
															<p class="asc_pera1">Executive</p>
															<p class="asc_pera2">Filling Fast</p>
															<p>크아아아ㅏㅇ 내요ㅕㅇ 크아아아아</p>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>


									<!-- 개봉 예정 -->
									<div id="menu1" class="tab-pane fade">
										<div class="st_calender_contant_main_wrapper float_left">
											<div class="st_calender_row_cont float_left" style="text-align: center;">
												<div class="st_calender_asc">
													<div class="st_calen_asc_heart_cont">
														<ul style="list-style: none; padding: 0;">
															<li>
																<img src="/content/event/image2.jpg" style="margin: 0 auto;">
															</li>
														</ul>
													</div>
													<h4>Ariesplex SL Cinemas</h4>
												</div>
												<div class="st_calen_asc_tecket_time_select">
													<ul style="list-style: none; padding: 0;">
														<li>
															<p class="asc_pera1">Executive</p>
															<p class="asc_pera2">Filling Fast</p>
															<p>투번째 크앙 개봉예저어어어엉아아아아</p>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>


									<!-- 지난 영화 -->
									<div id="menu2" class="tab-pane fade">
										<div class="st_calender_contant_main_wrapper float_left">
											<div class="st_calender_row_cont float_left" style="text-align: center;">
												<div class="st_calender_asc">
													<div class="st_calen_asc_heart_cont">
														<ul style="list-style: none; padding: 0;">
															<li>
																<img src="/content/event/image2.jpg" style="margin: 0 auto;">
															</li>
														</ul>
													</div>
													<h4>Ariesplex SL Cinemas</h4>
												</div>
												<div class="st_calen_asc_tecket_time_select">
													<ul style="list-style: none; padding: 0;">
														<li>
															<p class="asc_pera1">Executive</p>
															<p class="asc_pera2">Filling Fast</p>
															<p>3번째 끝나난나남 크아아아아</p>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<!-- Tab Content End -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- st slider sidebar wrapper End -->
</section>
