<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>결제 테스트</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta name="description" content="Movie Pro"/>
    <meta name="keywords" content="Movie Pro"/>
    <meta name="author" content=""/>
    <meta name="MobileOptimized" content="320"/>
    <!-- Template style -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script th:src="@{'https://cdn.portone.io/v2/browser-sdk.js'}"></script>
</head>
<body>
<div>
    <h3>결제 테스트</h3>
    <div>
        <p>영화: <span th:text="${movie.title}"></span></p>
        <p>좌석:
            <span th:each="seat, iterStat : ${seats}">
                <span th:text="${seat.seatColumn} + ${seat.seatRow}"></span>
                <span th:if="${!iterStat.last}">, </span>
            </span>
        </p>
        <p>총 금액: <span th:text="${totalPrice}"></span> 원</p>
        <button type="button" onclick="requestPay()">결제하기</button>
    </div>
</div>

<script th:inline="javascript">
    // Webhook 방식으로 결제 처리

    // 결제창 호출
    function requestPay() {
        const seatNames = [[${seatNames}]]; // ex) ["A3", "B2"]
        const combinedOrderName = seatNames.join(", ");
        const paymentId = [[${paymentId}]]; // ex) "20231231235959"

        PortOne.requestPayment({
            storeId: [[${storeId}]],        // 상점 ID
            channelKey: [[${channelKey}]],  // 채널 키
            paymentId: paymentId,          // 고유 결제 ID
            orderName: combinedOrderName,  // 좌석 이름 조합
            totalAmount: [[${totalPrice}]], // 총 금액
            currency: "KRW",               // 결제 통화
            payMethod: "CARD",             // 결제 수단
            customer: {
                customerId: "[[${user.id}]]",
                fullName: [[${user.name}]],
                phoneNumber: [[${user.phone}]],
                email: [[${user.email}]]
            },
            customData: {
                item: [[${seatIdList}]],   // 좌석 ID 리스트
            }
        });

        // Webhook에서 서버에서 결제 완료 여부를 처리하므로 클라이언트는 결제 후 완료 페이지로 이동
        alert("결제 요청이 완료되었습니다. 결제 결과는 확인 후 처리됩니다.");
        window.location.href = "/payment/pay";
    }
</script>
</body>
</html>
