<section th:fragment="content">
	<style>
		.st_bcc_tecket_bottom_left_wrapper {
            float: left;
            width: 100%;
            position: relative;
        }
        .st_bcc_tecket_bottom_left_price_wrapper {
            float: left;
            width: 100%;
        }
        .st_purchase_img {
            position: absolute;
            top: 50px;
            right: 400px;
        }
		.st_bcc_tecket_bottom_left_wrapper:after {
			content: '';
			background: none;
			height: 1px;
			width: 100%;
			position: absolute;
			left: 0;
			right: 0;
			bottom: -15px;
		}
		.st_bcc_tecket_bottom_left_price_wrapper {
			float: left;
			width: 100%;
			padding-top: 10px;
		}
		.st_bcc_tecket_bottom_hesder {
			background: rgba(216, 216, 216, 0.12);
			padding: 15px 30px;
			margin-top: 40px;
		}

	</style>
	<!-- st bc Start -->
	<div class="st_bcc_main_main_wrapper float_left">
		<div class="st_bcc_main_wrapper">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="st_bcc_heading_wrapper float_left">
							<i class="fa fa-check-circle"></i>
							<h3>お支払い金額　<span th:text="${payment.totalAmount}"><br>
							</span>お支払い成功</h3>
						</div>
					</div>
					<div class="col-md-12">
						<div class="st_bcc_ticket_boxes_wrapper float_left">
							<div class="st_bcc_tecket_top_hesder float_left">
								<p>お支払い内容確認</p>
								<span th:text="'Payment ID ' + ${payment.id}"></span>
							</div>
							<div class="st_bcc_tecket_bottom_hesder float_left">
								<div class="st_bcc_tecket_bottom_left_wrapper">
									<div class="st_bcc_tecket_bottom_inner_left">
										<div class="st_bcc_teckt_bot_inner_img">
											<img th:src="@{/images + '/poster/' + ${movie.posterImg}}" alt="Poster" style="width:85px; height:127px;">
										</div>
										<div class="st_bcc_teckt_bot_inner_img_cont">
											<h4 th:text="${movie.title}"></h4>
											<h5 th:text="${schedule.screenId == 1 ? '2D' : (schedule.screenId == 2 ? '3D' : (schedule.screenId == 3 ? '4DX' : (schedule.screenId == 4 ? 'IMAX' : 'Unknown')))}"></h5>
											<h3 th:text="${#temporals.format(schedule.watchDate, 'yyyy/MM/dd')} + ' | ' + ${#temporals.format(schedule.startTime, 'HH:mm')}"></h3>
										</div>
										<div class="st_purchase_img">
											<img th:src="@{/images/content/pur2.png}" alt="Purchase Icon">
										</div>
									</div>
									<div class="st_bcc_tecket_bottom_inner_right">
										<i class="fas fa-chair"></i>
										<h3>
											<span th:text="${#lists.size(seats)} + ' Tickets'"></span>
											<br>
											<span th:each="seat, iterStat : ${seats}">
                                                <span th:text="${seat.seatColumn} + ${seat.seatRow}"></span>
                                                <span th:if="${!iterStat.last}">, </span>
                                            </span>
										</h3>
									</div>
								</div>
								<div class="st_bcc_tecket_bottom_left_price_wrapper">
									<h4>お支払い金額</h4>
									<h5 th:text="${payment.totalAmount}"></h5>
								</div>
							</div>
						</div>
						<div class="st_bcc_ticket_boxes_bottom_wrapper float_left">
							<ul>
								<li><a th:href="@{/}">ホーム</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- st bc End -->
</section>
